* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tiro Kannada', serif;
    -webkit-user-select: none;
    user-select: none;}
    .container{
        position: relative;
        text-align: center;
        color: white;
      }

.imageSlider2{
    width: 100%;
height: 50%;
    display: block;
    text-align: center;
}
.rolebox{
    text-align: center;
    width: 80%;
    position: relative;
    left: 7rem;
   
}
.h1{background-color: none;}
.heading{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;


    transform: translate(-50%, -50%);
  }

