:root {
    --step-0: clamp(0.63rem, calc(0.39rem + 1.18vw), 1.13rem);
    --step-7: clamp(1.88rem, calc(1.35rem + 2.65vw), 3.00rem);
}

.eventsdetails--sub,
.container_ue--sub {
    width: min(1000px, 98vw);
    margin: 0 auto;
}

.eventsdetails--sub {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    position: relative;
    padding-top: 0;
}

.eventsdetails--sub h1 {
    font-size: var(--step-7);
    font-weight: 900;
}

.eventsdetails--sub div {
    width: 15vw;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .2rem .5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.eventsdetails--sub div > span:first-child{
    font-size: 1.2rem;
    color: red;
    text-transform: uppercase;
}

.eventsdetails--sub div > span:last-child {
    font-size: 2rem;
    font-weight: 800;
}


.eventsdetails {
    background-color: rgb(181, 0, 0);
}

.eventsdetails h1 {
    background-color: transparent;
}

.container_ue--sub {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    border-radius: 10px;
}

.container_ue--sub > div:nth-child(2) {
    width: 40%;
    display: flex;
    align-items: center;
    background: url(./../../../images/bgue.jpg);
}

.container_ue--sub div img {
    width: 100%;
    border-radius: 10px 50px;
}

.container_ue--sub > div:last-child {
    width: 55%;
    padding: 2rem 0 2rem .5rem;
    background-color: #fff;
}

.container_ue--sub > div:last-child h2 {
    font-size: 2rem;
}

.container_ue--sub > div:last-child p {
    font-size: var(--step-0);
}

.enhancer {
    width: 100%;
    height: 3.5rem;
    background-color: lightgray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media screen and (max-width: 820px) {
    .container_ue--sub {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .container_ue--sub div {
        min-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .eventsdetails--sub {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .eventsdetails--sub div {
        width: 50%;
    }

    .enhancer {
        opacity: 0;
    }
}