/* navbar + scroll effect
scrolling rgb(61,177,102)
rgb(25,47,89)
dark-light */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --i: .25s;
    --site-blue: rgb(25,47,89);
    --site-green: rgb(61,177,102); 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: hsla(119, 96%, 100%, 1.0);
}

header {
    position: sticky;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 1000;
    height: 5rem;
    background-color: var(--site-blue);
}

.nav-container {
    max-width: 80%;
    padding: 0 2rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn {
    display: flex;
    flex: 3;
}

.nav-links {
    flex: 2;
}

.log-sign {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span {
    font-weight: 300;
}

.btn {
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover {
    background-color: #fff;
    color: #000;
}

.btn.transparent, .btn.solid:hover {
    background-color: transparent;
    color: #fff;
}

.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-link {
    position: relative;
}

.nav-link > a {
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > div > i {
    margin-left: .4rem;
}

.nav-icon {
    margin-right: .4rem;
}

.fa-archway {
    font-size: 80%;
}

.nav-link:hover > a{
    transform: scale(1.1);
    transition: 1s;
    color: var(--site-green);
}

.nav-link > span {
    position: absolute;
    top: 100%;
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: var(--site-green);
    border-radius: 10px;
    opacity: 0;
}

.nav-link:hover > span {
    animation: hover_anm .5s ease forwards var(--i);
}

@keyframes hover_anm {
    from {
        opacity: 0;
        width: 10%;
        left: 50%
    }
    to {
        opacity: 1;
        width: 100%;
        left: 0;
    }
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul {
    position: relative;
}

.dropdown-link > a {
    background-color: var(--site-blue);
    color: #fff;
    padding: .5rem 1rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a {
    background-color: var(--site-green);
    color: #fff;
}


.dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid #efefef;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
    background-color: #000;
}

.dropdown-link {
    position: relative;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
   content: '';
   width: inherit;
   height: inherit;
   background-color: #fff;
   position: absolute;
   transition: .5s
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px) {

    .hamburger-menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 5rem);
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: var(--site-blue);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s; 
    }

    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign {
        animation: animation 1s ease forwards var(--i);
    }

    .nav-links {
        flex: initial;
        width: 100%;
    }

    .nav-links > ul {
        flex-direction: column;
    }

    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a {
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a {
        transform: scale(1);
        background-color: var(--site-green);
        color: #fff;
    }

    .dropdown {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: transparent;
        display: none;
    }
   
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }

    .nav-link:hover > a > div > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }

    .dropdown-link > a {
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow {
        z-index: 1;
        background-color: #fff;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow {
        background-color: #fff;
    }

    .dropdown .dropdown .arrow {
        display: none;
    }

    .dropdown-link:hover > a {
        background-color: var(--site-green);
    }

    .nav-link > a > div > i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i {
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
} 
